body{
  width:800px;
  height:600px;
  margin-left: 25%;
  margin-top: 5%;
}
p{
  display: inline-block;
  margin-left:2%;
  margin-right:50%;

}
header{
  border:groove;
  border-width:0.5px;
  background-color:green;
  height: 30px;
  padding: 4px;

}
button{
  padding:10px 24px;
  background-color:green;
  height:30px;
  margin-top:-1px;
  margin-left: 2%;
}
.servisi {

  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height: 30px;
  display: inline-block;
  position: static;
}
.doma {
  margin-left: 10%;
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height: 30px;
  display: inline-block;
  position: static;
}
.za-nas{
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height:30px;
  display: inline-block;
  position: static;
}
.najava{
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height:30px;
  display: inline-block;
  position: static;
}
.kontakt{
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  height:30px;
  display: inline-block;
  position: static;
}
h2 {
  margin-top:5%;
  text-align:left;
  margin-left:2%;
  color:green;
}
body{
  background-color:white;
}
.vvv{
  line-height:10% ;
  margin-left:11%;
}
img{
  display: inline-block;
  margin-left:50%;
  margin-top:-32% ;
}
.list{
  margin-left: 2px;
  margin-top: -60px;
}
footer{
  border:groove;
  border-width:0.5px;
  background-color:green;
  height: 30px;
  padding: 4px;
  color:white;
  text-align: center;
}
.space{
  word-spacing: 12px;
  margin-left: 11px;
}
.dizajnerite{
  margin-left: -11px;
}
ol{
  line-height: 20px;
}
.shift{
  word-spacing: 12px;
  margin-left: 11px;
}
.da{
  margin-left: -11px;
}
